* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #f0dada;
    color: #ffffff;
    padding: 20px;
    position: relative;
 /* overflow: hidden;  
   -nuk i shfaq pjest tjera nese jon overflow me ni faqe, 
   psh nese jon ma shume cards se sa qe jon tspecifikume per ni box ky nuk i shfaq
   dmth nuk mun me scroll down mi pa */
}
.video-container {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
z-index: -1; /* Ensure the video stays in the background */
}

.video-container video {
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.video-container::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.7); /* Adjust the color and opacity as needed */
z-index: 1; /* Ensure the overlay is above the video */
}
header{
z-index: 999;
position: absolute;
margin-top: 1px;
left: 0;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 100px;
transition: 0.3s ease;

}
header .brand{
color:#fff;
font-size: 1.5em;
font-weight: 700;
text-decoration: none;
text-transform: uppercase;
}

header .navigation{
position: relative;
}
header .navigation a{
position: relative;
color: #fff;
font-size: 1em;
font-weight: 500;
text-decoration: none;
margin-left: 30px;
transition: 0.3s ease;
}

header .navigation a::before{
content: '';
position: absolute;
background: #fff;
width: 0;
height: 3px;
bottom: 0;
left: 0;
transition: 0.3s ease;
}

header .navigation a:hover::before{
width: 100%;
}
.wrapper {
width: 95%;
margin: 7rem auto;
}


/* Search Container Styling */
#search-container {
margin: 1em 0;
display: flex;
justify-content: center;
}

#search-container input {
background-color: transparent;
width: 40%;
border: none; 
border-bottom: 2px solid #171250; /* Add bottom border */
padding: 1em 0.3em;
transition: border-bottom-color 0.3s ease;
color: #fff;
}

#search-container input:focus {
border-bottom-color: #171250;
}

#search-container button {
padding: 1em 2em;
margin-left: 1em;
background-color: #6214d0;
color: #fff;
border: none; 
border-radius: 5px;
margin-top: 0.5em;
cursor: pointer;
transition: background-color 0.3s ease;
}

#search-container button:hover {
background-color: #5747d1;
}
.button-value {
border: 2px solid #5135dc;
padding: 1em 2.2em;
border-radius: 3em;
background-color: transparent;
color: #5135dc;
cursor: pointer;
transition: background-color 0.3s ease, color 0.3s ease;
}

.button-value:hover {
background-color: #5135dc;
color: #fff;
}

.active {
background-color: #5135dc;
color: #fff;
}

/* Products Grid Styling */
#products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    grid-gap: 1.5em;
    padding: 2em 0;
}


.card {
    background-color: #d2b4ec;
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Image Container Styling */
.image-container {
    text-align: center;
}

img {
width: 100%;
object-fit: cover; 
height: 280px;
transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.05);
}

.container {
    padding-top: 1em;
    color: #110f29;
}

.container h5 {
    font-weight: 700;
    margin-bottom: 0.5em;
    
}

.hide {
    display: none;
}

/* Responsive Styling */
@media screen and (max-width: 720px) {
    img {
        height: 10em;
    }

    .card {
        max-width: 100%;
        margin-top: 1em;
    }

    #products {
        grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
        grid-gap: 1em;
    }
}

.button-container {
display: flex;
align-items: center;
}

.play-button {
margin-left: 10px;
padding: 1em 2.2em;
border: 2px solid #5135dc; /* Set the border explicitly */
border-radius: 3em;
background-color: transparent;
color: #5135dc;
cursor: pointer;
transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Add border-color transition */
}

.play-button:hover {
background-color: #5135dc;
color: #fff;
border-color: #5135dc; /* Change border color on hover */
}
