@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Sofia');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background-color: #111222;

}

header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    transition: 0.3s ease;

}

header .brand{
    color:#fff;
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

header .navigation{
    position: relative;
}

header .navigation a{
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navigation a::before{
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation a:hover::before{
    width: 100%;
}

.home {
    position: relative;
    width: 100%;
    padding: 100px 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden; 
}

.home .content{
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
}


.home .content h1{
    font-size: 4em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 70px;
    margin-bottom: 40px;

}


.home .content h1 span{
    font-weight: 400;
    font-size: 1.2em;

}

.home .content p{
    margin-bottom: 60px;
}

.home .content a{
    background: #fff;
    padding: 15px 35px;
    border-radius: 2px;
    color: lightsalmon;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 400;
}

.home .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition:  0.3s ease;

}

.home .media-icons a{
    color: #fff;
    font-size: 1.5em;
    transition: 0.3s ease;
}

.home .media-icons a:not(:last-child){
    margin-bottom: 20px;
}

.home .media-icons a:hover{
    transform: scale(1.3);
}

.home video{
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: none;
    mix-blend-mode: overlay;
    display: none; 
}



.video-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-slider.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path, opacity; 
    opacity: 1;
}

.sec1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    color: #fff;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title{
    font-size: 3em;
    margin-bottom: 50px;
}

.contenti{
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.contenti .foto{
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.contenti .foto img{
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.contenti .text-box{
    z-index: 222;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transform: translate(-80px, 50px);
}

.contenti .text-box h3{
    font-size: 2em;
    margin-bottom: 10px;
}

.contenti .text-box p{
   text-align: justify;
}

.section-title{
    font-size: 3em;
    margin-bottom: 80px;

}

.title {
    text-align: center;
    margin-top: 50px;
    color: #fff;
    position: relative;
}
.title span {
    display: inline-block;
    position: relative;
    font-family: "Sofia", sans-serif;
    font-size: 36px;
    text-shadow: 1px 1px 1px #ababab;
}
.title span::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}
.title span:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.wrapper{
    padding: 10px 10%;
    margin-top: -70px;
}

#card-area{
    padding: 50px 0;
}

.box-area{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.box1{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.box1 img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
    display: block;
    transition: transform 0.5s;
}

.overlay{
    height: 0;
    width: 100%;
    background: linear-gradient(transparent, #76ABDF 58%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}


.overlay p{
    color: #fff;
}

.overlay h3{
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #fff;
 
    letter-spacing: 2px;
}

.overlay a{
    margin-top: 10px;
    color: #1c1c1c;
    text-decoration: none;
    font-size: 14px;
    background: #fff;
    border-radius: 50px;
    text-align: center;
    padding: 5px 15px;

}

.boxLhover img{
    transform: scale(1.2);
}

.box1:hover .overlay{
    height: 100%;
}

.video-container1 {
    position: relative;
    width: 100%;
    height: 300px; 
    overflow: hidden;
}

.video-container1 video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-overlay1 {
    position: absolute;

    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.text-overlay1 h2{
    font-size: 25px;
    font-family: "Sofia", sans-serif;
 
}

.text-overlay1 p{
    font-size: 15px;
    font-family: "Sofia", sans-serif;
}

 .footer {
        background-color: #111222;
        color: #fff;
        text-align: center;
        padding: 20px 0;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }